# Java / Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
.replay_index/
out_10M/
*.iml
*.ipr
*.iws
.idea/
.project
.classpath
.settings/
# OS
.DS_Store
Thumbs.db
# Logs
*.log
node_modules/
*.zip

testdata-utils/

state/
