# Java / Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
*.iml
*.ipr
*.iws
.idea/
.project
.classpath
.settings/
# OS
.DS_Store
Thumbs.db
# Logs
*.log
node_modules/

state/
